.form-control {
    border-bottom: 1px solid #e7e7e7;
    outline: none;
}

input:focus {
    outline-width: 0;
    outline: none;
}

.step1Login .form-control {
    border-bottom: 1px solid #e7e7e7;
}

.btn-step1ok.btn-bank {
    width: 30%;
    margin-bottom: 15px;
    display: block;
    float: left;
    margin-right: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input#smscode {
    margin-bottom: 10px;
    border-bottom: 3px solid #bbbbbb;
    text-align: center;
    font-size: 26px;
    letter-spacing: 6px;
}
input#smscode::placeholder {
    letter-spacing: 0px;
    font-size: 20px;
    color: #646464;
}
@media (max-width: 600px) {
    .btn-step1ok.btn-bank {
        width: 100% !important;
        margin-right: 0px;
        float: unset;
    }
}

#contiune {
    display: flex;
    align-content: space-evenly;
}

.btn-bank.bank1, .btn-bank.bank3 {
    background: orange !important;
}

.step3 a {
    color: #8f3988 !important;
}
html, body {
    position: relative;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
    background: #f1f1f1;
    /* linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background-size: 400% 400%;
    /* animation: gradient 30s ease infinite;  */
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {

}

.card {
    padding: 20px;
    color: #000;
    background: #FFF;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.input-group {
    border-bottom: 1px solid #ccc;
}

.app-brand-text {
    float: right;
}

span.input-group-text {
    background: rgba(255, 255, 255, 0.07) !important;
    color: #000;
    border: 0px;
}

span.input-group-text img {
    /*filter: brightness(0) invert(1);*/
}

.btn-step1ok, .step2 .btn-success {
    color: #000 !important;
    background: #FFF !important;
}

.btn-step1ok:hover, .step2 .btn-success:hover {
    background: #febb00 !important;
}

input.form-control.input-lg {
    background: rgba(255, 255, 255, 0.07) !important;
    border: 0px;
    border-radius: 0px !important;
    color: #000 !important;
    font-weight: 100 !important;
}

.step1 label {
    display: none;
}

input.form-control::placeholder {
    color: #000;
}

input.form-control:focus, input.form-control:active {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

hr {
    border-top: 1px solid rgb(255 255 255 / 49%) !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.text-danger {
    color: red !important;
}

input:focus {
    outline: none;
}

.sendNote h5 {
    font-size: 15px;
    color: #e7e7e7;
    font-weight: normal;
}

.sendNote h5 strong {
    font-size: 19px;
    color: #FFF;
}

table.table {
    border: 1px solid;
}

table.table tr:last-child td.text-right {
    padding-right: 5px;
}

table.table td.text-right {
    padding-right: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 600px) {
    .container .card {
        padding: 10px 15px !important;
    }

    strong.ibanowner, strong.iban, .sendNote strong {
        font-size: 19px !important;
    }

    .col-xs-10 {
        width: 70%;
    }

    .col-xs-2 {
        width: 30%;
        padding-right: 0px !important;
    }

    .step2 .qrlink {
        font-size: 12px;
    }

    .box .square:nth-child(2) {
        display: none !important;
    }
}

.box .square {
    position: absolute;
    background: #febb00;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.box .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

.box .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
}

.box .square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.box .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -110px;
    z-index: 2;
}

.box .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

@keyframes square {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
}

.step3Text img {
    width: 100px;
}
